<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Conteúdo</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>
    <div class="container">
        <h1>Adicionar {{ article_type }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Adicionar conteúdo">
        </form>
    </div>
</body>
</html>
