<!DOCTYPE html>
{% extends 'base2.html' %}
{% load static %}
{% block title %}{{ artigo.titulo }}{% endblock %}
{% block css %}{% static 'css/detalhe_artigo1.css' %}{% endblock %}
{% block container-box %}
<body>
    <div class="container">
        <div class="ad_content"></div>
        <div class="generic_container">
            <h1 class="principal_title">{{ artigo.titulo }}</h1>
            <p>{{ artigo.texto }}</p>
            {% if artigo.imagem %}
                <img src="{{ artigo.imagem.url }}" alt="{{ artigo.titulo }}">
            {% endif %}

            <strong>Categoria(s):</strong>
            {% if artigo.categories.exists %}
                {% for categoria in artigo.categories.all %}
                    <span>{{ categoria.name }}</span>
                {% endfor %}
            {% else %}
                <span>Nenhuma categoria</span>
            {% endif %}

            <br><br>

            <strong>Tag(s):</strong>
            {% if artigo.tags.exists %}
                {% for tag in artigo.tags.all %}
                    <span>{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                <span>Nenhuma tag</span>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
