{% extends 'base2.html' %}
{% block title %}Inicio{% endblock %}

        {% block container-box %}
        <div class="container-box">
            <article class="artigo-principal">
                <li class="blankspace-artigo-principal"></li>
                <li class="article-principal-titulo"><span class="titulo-artigo-principal"><h1><a href="#">{{artigoP.titulo}}</a></h1></span></li>
                <li class="genereic-article-principal"><span>{{artigoP.texto}}</span></li>
            </article>
            <div class="container_two_article1">
                <article class="two_aricle1">
                    <span><h2 class="two_title2"><a href="#">{{artigoS.titulo}}</a></h2></span>
                    <img class="imagem_two_title1" src="{{ artigoS.imagem.url }}" alt="artigo imagem">
                </article>
            </div>
            <!--   -->

            <div class="container_two_article2">
                <article class="two_article2">
                    <span><h2 class="two_title2"><a href="#">{{artigoT.titulo}}</a></h2></span>
                    <img class="imagem_two_title2" src="{{ artigoT.imagem.url }}" alt="artigo imagem">
                </article>
            </div>
        </div>
        {% endblock %}

        {% block container-generic %}
        <div class="container-news">
            {% for artigoGes in artigoGe %}
            <article class="generico1" id="not1">
                <img src="{{ artigoGes.imagem.url }}" alt="artigo imagem">
                <span ><p class="titulo-generico">{{artigoGes.titulo}}</span>
                <span ><p class="subtitulo-generico">{{artigoGes.texto}}</p></span>
            </article>
            {% endfor %}
        </div>
        {% endblock %}
        

        {% block container-recommends %}
        <div class="container-recommends">
            <div  class="titlerecommend">
                <h2>Viu isso aqui?</h2>
            </div>
            {% for artigoRes in artigoRe %}
            <article class="mini_recommend">
                <img class="foto_recomend" src="{{ artigoRes.imagem.url }}" alt="artigo imagem">
                <p><a class="minirecommend_title" href="#">{{artigoRes.titulo}}</a></p>
            </article>
            {% endfor %}
            <div class="more_recommend">
                <p>Mais conteúdos recomendados </p>
            </div>
        </div>
        {% endblock %}

        {% block container-clima %}
    <div class="container-clima">
        <div class="titleclima"><h2>Previsão do Tempo</h2></div>
        <div class="contclima">
        </div>
        <div class="moreclima"><p>Veja a previsão do Climatempo</p></div>

    </div>
        {% endblock %}
