{% extends 'base2.html' %}
{% block title %}Inicio{% endblock %}

{% block container-box %}
<div class="container-box">
    <article class="artigo-principal">
        <li class="blankspace-artigo-principal"></li>
        <li class="article-principal-titulo">
            <span class="titulo-artigo-principal">
                <h1><a href="{% url 'detalhe_artigo' article_type='principal' id=artigoP.id %}">{{ artigoP.titulo }}</a></h1>
            </span>
        </li>
        <li class="genereic-article-principal"><span>{{ artigoP.texto }}</span></li>
    </article>
    <div class="container_two_article1">
        <article class="two_aricle1">
            <span>
                <h2 class="two_title2"><a href="{% url 'detalhe_artigo' article_type='secundario' id=artigoS.id %}">{{ artigoS.titulo }}</a></h2>
            </span>
            <img class="imagem_two_title1" src="{{ artigoS.imagem.url }}" alt="artigo imagem">
        </article>
    </div>
    <!--   -->

    <div class="container_two_article2">
        <article class="two_article2">
            <span>
                <h2 class="two_title2"><a href="{% url 'detalhe_artigo' article_type='terceario' id=artigoT.id %}">{{ artigoT.titulo }}</a></h2>
            </span>
            <img class="imagem_two_title2" src="{{ artigoT.imagem.url }}" alt="artigo imagem">
        </article>
    </div>
</div>
{% endblock %}

{% block container-generic %}
<div class="container-news">
    {% for artigoGes in artigoGe %}
    <article class="generico1" id="not1">
        <a href="{% url 'detalhe_artigo' article_type='generico' id=artigoGes.id %}"><img src="{{ artigoGes.imagem.url }}" alt="artigo imagem"></a>
        <span>
            <p class="titulo-generico">{{ artigoGes.titulo }}</p>
        </span>
        <span>
            <p class="subtitulo-generico">{{ artigoGes.texto }}</p>
        </span>
    </article>
    {% endfor %}
</div>
{% endblock %}

{% block container-recommends %}
<div class="container-recommends">
    <div class="titlerecommend">
        <h2>Recomendados</h2>
    </div>
    {% for artigoRes in artigoRe %}
    <article class="mini_recommend">
        <img class="foto_recomend" src="{{ artigoRes.imagem.url }}" alt="artigo imagem">
        <p><a class="minirecommend_title" href="{% url 'detalhe_artigo' article_type='recommends' id=artigoRes.id %}">{{ artigoRes.titulo }}</a></p>
    </article>
    {% endfor %}
    <div class="more_recommend">
        <p>Mais conteúdos recomendados</p>
    </div>
</div>
{% endblock %}

{% block container-clima %}
<div class="container-clima">
    <div class="titleclima"><h2>Como está o dia?</h2></div>
    <div class="contclima"></div>
    <div class="moreclima"><p>Veja a previsão do Clima</p></div>
</div>
{% endblock %}
