<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Artigos Principais</h1>
    <ul>
        {% for artigo in artigos_principais %}
            <li><a href="{% url 'detalhe_artigo' id=artigo.id %}">{{artigo.titulo}}</a></li>
        {% endfor %}
    </ul>

    <h1>Artigos Secundários</h1>
    <ul>
        {% for artigo in artigos_secundarios %}
            <li><a href="{% url 'detalhe_artigo2' id=artigo.id %}">{{ artigo.titulo}}</a></li>
        {% endfor %}
    </ul>

    <h1>Artigos Tercearios</h1>
    <ul>
        {% for artigo in artigo_terceario %}
            <li><a href="{% url 'detalhe_artigo3' id=artigo.id}">{{artigo.titulo}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>